* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "微软雅黑";
}
section {
	height: 100vh;
	background-color: #e74c3c;
	color:fff;
}
h2 {
	text-align: center;
	font-weight: 800;
	padding: 50px 0;
	color: #fff;
}
nav {
	width: 80%;
	padding: 50px 0;
	background-color: #fff;
	box-shadow: 0 5px 0 #dedede;
	margin: 0 auto;

}
nav ul {
	list-style: none;
	text-align: center;
}
nav ul li {
	display: inline-block;
}
nav ul li a {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: #aaa;
	font-weight: 800;
	margin: 0 10px;
	position: relative;
}
nav ul li a,
nav ul li a:after {
	transition: all .5s;
}
nav ul li a:after {
	content: ".";
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	width: 0%;
	height: 1px;
	margin: auto;
	color: transparent;
	background-color: #aaa;
}
nav ul li a:hover {
	color: #555;
}
nav ul li a:hover:after {
	width: 100%;
}