body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
    margin:0;padding:0;
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
    font:12px/1.5 "微软雅黑";
    color: #333;
}
ol,ul {
    list-style:none;
}
a {
    color: #656766;
    text-decoration: none;
}
img {
    border: 0;
}
.container {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
.clearfix {
    zoom: 1;
}
.color {
    color: #f8f8f8;
    color: #e8e8e8;
    color: #656766;
    color: #e3e3e3;
    color: #e43a3d;
    color: #ffb901;
    color: #fff7d3;
    color: #3273db;

}

.clean {
    clear: both
}

/*导航栏部分*/
.siteNav {
    width: 100%;
    height: 30px;
    background: #f8f8f8;
    border-bottom: 1px solid #e8e8e8;
}
.siteNav ul li {
    color:#656766;
}
.siteNav .left .leftMenuBox {
    position: relative;
}
.siteNav .left .leftMenuBox li {
    float: left;
    line-height:33px;
}
.siteNav .left .leftMenuBox li.sep {
    margin: 0 8px;
}

.siteNav .right .rightMenuBox {
    position: relative;
}
.siteNav .right .rightMenuBox li {
    float: left;
    margin: 0 12px;
    line-height:33px;
}

.siteNav .right .rightMenuBox li.portraitBox img {
    width: 22px;
    height:22px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    vertical-align: top;
    padding-top:5px;
    margin-right: 5px;
}
.siteNav .right .rightMenuBox li .yellow {
    background: #ffb901;
    width: 22px;
    height:22px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 22px;
    margin-top: 5px;
}
.siteNav .right .rightMenuBox li .siteIcon img {
    padding: 0 0 0 5px;
    margin: -2px 0 0 0;
    vertical-align: middle;
}

/*主导航*/
.mainMenu {
    height: 70px;
    background: #e43a3d;
}
.mainMenu .left img.logo {
    padding: 14px 0 0 25px;
}
.mainMenu .right .mainMenuBox {
    position: relative;
}
.mainMenu .right .mainMenuBox li {
    float: left;
    font-size:18px;
}
.mainMenu .right .mainMenuBox li.sep {
    margin: 27px 0 0 0;
    width: 1px;
    height: 18px;
    background: rgba(255,255,255,.2);
}
.mainMenu .right .mainMenuBox li a {
    line-height:70px;
    color: #fff;
    padding: 22px 16px;
}
.mainMenu .right .mainMenuBox li.active a {
    color: #ffb901;
}

.mainMenu .right .mainMenuBox li a:hover {
    background: -webkit-linear-gradient(#d6373a, #e43a3d); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#d6373a, #e43a3d); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#d6373a, #e43a3d); /* Firefox 3.6 - 15 */
    background: linear-gradient(#d6373a, #e43a3d); /* 标准的语法 */
}

.mainMenu .right .mainMenuBox li:last-child a {
    border-right:none;
}


/*客服模块*/
.kefu {
    width: 122px;
    height: 660px;
    background: #ffba00;
    position: fixed;
    text-align: center;
}
.kefu .kefu_hd {
    position: absolute;
    top: -40px;
    left: auto;
    right: auto;
    text-align: center;
    width: 122px;
}
.kefu .kefu_hd p {
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
    font-color: #520506;
}
.kefu .kefu_bd {
    margin-top: 50px;
}
.kefu .kefu_bd p {
    font-size: 14px;
    line-height: 22px;
    color: #520506;
}
.kefu .kefu_bd > ul >li:first-child {
    padding-top: 10px;
}
.wechat {
    top: 162px;
    right: 50%;
    margin-right: -722px;
}
.qq {
    top: 162px;
    left: 50%;
    margin-left: -722px;
}



/*尾部*/
.bottom .container div {
    font-size: 0;
}
.bottom .container .tese {
    border-bottom: 1px solid #e8e8e8;
}


/*底部*/
.footerMenu {
    background: #f8f8f8;
    border-top: 1px solid #cdcdcd;
    padding-bottom: 20px;
}
.footerMenu .container .ftMenuBox {
    position: relative;
    margin-top: 20px;
}
.footerMenu .container .ftMenuBox li {
    width: 280px;
    margin: 0 10px;
    float: left;
}
.footerMenu .container .ftMenuBox li .ftMenuItem_hd {
    line-height: 52px;
    padding-left: 100px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #333;
}
.footerMenu .container .ftMenuBox li .ftMenuItem_hd span {
    text-align: left;
    margin-left: 5px;
}
.footerMenu .container .ftMenuBox li:nth-child(1) .ftMenuItem_hd {
    background: url("../images/icon_xinshou.png") no-repeat 50px center;
}
.footerMenu .container .ftMenuBox li:nth-child(2) .ftMenuItem_hd {
    background: url("../images/icon_help.png") no-repeat 50px center;
}
.footerMenu .container .ftMenuBox li:nth-child(3) .ftMenuItem_hd {
    background: url("../images/icon_lianxi.png") no-repeat 50px center;
}
.footerMenu .container .ftMenuBox li:nth-child(4) .ftMenuItem_hd {
    background: url("../images/icon_youqing.png") no-repeat 50px center;
}
.footerMenu .container .ftMenuBox li .ftMenuItem_bd ul {
    position: relative;
    padding: 10px 0 0 0;
}
.footerMenu .container .ftMenuBox li .ftMenuItem_bd>ul>li {
    text-align: center;
    width: 100px;
}
.footerMenu .container .ftMenuBox li .ftMenuItem_bd ul li a {
    line-height: 24px;
}

/*copyright*/
.copyright {
    background: #545454;
}
.copyright .container p {
    text-align: center;
    color: #dcdcdc;
    line-height: 42px;
}

















































