/*走势部分*/
.zoushi .container {
    background: #fff;
    margin-top: 10px;
    border: 1px solid #e8e8e8;
}
.zoushi .container .zoushi_hd {
    position: relative;
}


/*数据表格*/
/*
所有数据均为渲染出来，样式根据表格里的数据来，通过id来识别
*/
.zoushi .container .zoushi_bd {
    width: 100%;
    text-align: center;
}
.cl-31,.cl-32,.cl-33,.cl-34,.cl-35,.cl-36,.cl-51 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cl-31,.cl-32 {
    width: 100px;
    height: 62px;
}
.cl-35 {
    line-height: 10px;
}
.zoushi .container .zoushi_bd  .cl-31,
.zoushi .container .zoushi_bd  .cl-32 {
    line-height: 65px;
    border-right: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}
.bg-1 {
    background: #f4fbff !important;
}

.bg-2 {
    background: #fff5ee!important;
}

.bg-3 {
    background: #f8f8f8 !important;
}

.bg-4 {
    background: #fff !important;
}
.zoushi .container .zoushi_bd .cl-34 {
    width: 170px;
    border: 1px solid #e8e8e8;
    border-left: none;
    height: 45px;
    line-height: 45px;
}
.zoushi .container .zoushi_bd  span {
    width: 17px;
    height: 17px;
    border-right: 1px solid #e8e8e8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #e8e8e8;
}
.zoushi .container .zoushi_bd  span i {
    font-style: normal;
    line-height: 16px;
}
.zoushi .container .zoushi_bd .cl-36 span {
    display: inline-block;
}

/*桶bg-1*/
.zoushi .container .zoushi_bd .bg-gray .cl-35,
.zoushi .container .zoushi_bd .bg-white .cl-35 {
    font-size: 0;

}
.zoushi .container .zoushi_bd .bg-gray .cl-35 span,
.zoushi .container .zoushi_bd .bg-white .cl-35 span {
    display: inline-block;
    width: 17px;
    height:17px;
    border-right: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    font-size: 0;
}
.zoushi .container .zoushi_bd .bg-gray .cl-35 span i,
.zoushi .container .zoushi_bd .bg-white .cl-35 span i {
    font-style: normal;
    line-height: 17px;
    font-size: 12px;
 }
 .zoushi .container .zoushi_bd .cl-31.cl-51 {
    height: 17px;
    border: 1px solid #e8e8e8;
    border-left: none;
    border-top: none;
    line-height: 16px;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
.zoushi .container .zoushi_bd .bg-gray .cl-51 {
    background: #f8f8f8 !important;
    width: 200px;
}
.zoushi .container .zoushi_bd .bg-white .cl-51 {
    background: #fff !important;
    width: 200px;
}


/*主体数据*/
.zoushi .container .zoushi_bd  .mainData .line {
    font-size: 0;
}
.zoushi .container .zoushi_bd  .mainData .line .cl-52 {
    /*height: 17px;*/
    width: 100px;
    font-size: 12px;
    background: #f4f3f3;
    /*border-top: 1px solid #e8e8e8;*/
    /*border-right: 1px solid #e8e8e8;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.zoushi .container .zoushi_bd  .mainData .line span i {
    font-size: 14px;
    line-height: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.zoushi .container .zoushi_bd  .mainData .line span i.not-transparent {
    color: #999;
}
.zoushi .container .zoushi_bd  .mainData .line span {
    display: inline-block;
    border-top: 1px solid #e8e8e8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.zoushi .container .zoushi_bd  .mainData .line span.bg-1.active i {
    background: #622e2e!important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    width: 16px;
    height: 16px;
    color: #fff;
    font-weight: bold;
}
.zoushi .container .zoushi_bd  .mainData .line span.bg-2.active i {
    background: #c00 !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    width: 16px;
    height: 16px;
    color: #fff;
    font-weight: bold;
}

/*说明*/
.zoushi .container .zoushi_ft .shuoming {
    width: 497px;
    height: 300px;
    padding: 0 10px 10px 10px;
    border: 1px solid #e8e8e8;
    margin: 10px 0 10px 10px;
}
.zoushi .container .zoushi_ft .shuoming .shuoming_hd h3 {
    line-height: 35px;
    border-bottom: 1px dotted #e8e8e8;
    font-size: 14px;
    font-weight: bold;
}
.zoushi .container .zoushi_ft .shuoming .shuoming_bd {
    padding-top: 10px;
}
.zoushi .container .zoushi_ft .shuoming .shuoming_bd p {
    line-height: 22px;
}

.zoushi .container .zoushi_ft .touzhu {
    width: 480px;
    height: 300px;
    padding: 0 10px 10px 10px;
    border: 1px solid #e8e8e8;
    margin: 10px 10px 10px 0;
    position: relative;
}
.zoushi .container .zoushi_ft .touzhu .touzhu_hd p {
    line-height: 35px;
    border-bottom: 1px dotted #e8e8e8;
    font-size: 14px;
    font-weight: bold;
}
.zoushi .container .zoushi_ft .touzhu .touzhu_hd p span.qihaoNum {
    color: #fa7026;
}
.zoushi .container .zoushi_ft .touzhu .touzhu_bd .daojishi {
    border: 1px solid #e43c1d;
    width: 260px;
    background: #fcf4ca;
    padding: 15px 20px;
    margin: 20px 10px 0;
}
.zoushi .container .zoushi_ft .touzhu .touzhu_bd .daojishi p {
    line-height: 32px;

}
.zoushi .container .zoushi_ft .touzhu .touzhu_bd .tips {
    margin: 10px;
}
.zoushi .container .zoushi_ft .touzhu .right {
    /*padding: 10px;*/

}
.zoushi .container .zoushi_ft .touzhu .right .zhongjiangBox {
    width: 140px;
    height: 240px;
    background: url("../images/bgjiang.png") no-repeat center center;
    background-size: contain;
    position: relative;
}
.zoushi .container .zoushi_ft .touzhu .right .zhongjiangBox img {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 40px;
    top: 90px;
}













