.main-content {
	margin: 0 auto;
	font-family: Arial;
	font-weight: bold;
	font-size: 16px;	
}
.main-header {
	background-color: #000;
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	min-height: 110px;	
	width: 1400px;
}
.logo {
	position: relative;
	left: 85px;
	top: 30px;
}
.main-nav {
	position: absolute;
	left: 170px;
	top: 50px;
}
.main-nav ul {
	float: left;
	width:100%;
	padding: 0;
	margin: 0;
	list-style-type: none;
	overflow: hidden;
}
.main-nav li {
	float: left;
	width: 7em;
	text-decoration: none; 
	color: #fff;
	padding: 0.2em 0.4em;
	text-align: center;
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	text-decoration: underline;
}
}

li {
	display: inline;
}

.nav-right img {
	float: right;
	position: relative;
	right: 105px;
	top: -10px;
	padding: 0 0.6em;
}

.lunbotu {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
}
.lunbotu img {
	display: inline;
}

#description {
	text-decoration: none;
	font-weight: bold;
	font-size: 70px;
	color: white;

	position: absolute;
	left: 500px;
	top: 400px;
	z-index: 999999;
}
#snowboards {
	padding-top: 0px;
	text-align: center;
	font-size: 30px;
	max-height: 20px;
	font-weight: bold;
}
#centertxt {
	text-align: center;
	font-size: 16px;
	padding-bottom: 30px;
}
.company {
	background-color: red;
	background: url(../images/women.jpg);
	background-position: center;
	background-repeat: no-repeat;
	min-height: 800px;
}
.company h2 {
	position: relative;
	left: 300px;
	top: 200px;
	font-size: 30px;
	color: #fff;

}
.company p {
	position: relative;
	left: 300px;
	top: 250px;
	color: #fff;
	width: 400px
}
.features {
	padding: 40px;
	text-align: center;
}
.features-images {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
}
.thumbnail {
	position: relative;
	left: 75px;
	float: left;
	margin: 10px;
}
.thumbnail img {
	padding: 10px;
}
.thumbnail p {
	width: 220px;
	padding: 0 5px;
	text-align: left;
}

footer.main-footer {
	display: block;
	background-color: #000;
	text-align: left;
	color: #fff;
	margin-top: 300px;
	font-weight: 200;
}
.footer-content {
	display: block;
	border: 1px solid gray;
	background-color: #000;
	margin: 0 auto;
	width: 1400;
}
.products {
	display: block;
	width: 250px;
	position: relative;
	left: 160px;
	float: left;
	font-size: 16px;
}
.abouts {
	display: block;
	width: 250px;
	float: left;
	position: relative;
	left: 160px;
	font-size: 16px;
}
.customer {
	display: block;
	width: 250px;
	float: left;
	position: relative;
	left: 160px;
	font-size: 16px;
}
.footer-ul {
	list-style-type: none;
	line-height: 2em;
}
.clear {
	clear: both;
}
.products ul {
	padding-left: -40px;
}
.products h2 {
	padding-left: 40px;
}
.abouts h2 {
	padding-left: 40px;
}
.customer h2 {
	padding-left: 40px;
}