

/*导航栏开始*/
.sitenav {
	height: 41px;
	background: #0169c6;
}
.sitenav .loginBox {
	position: relative;
	list-style: none;
}
.sitenav .right {
	position: relative;
}
.sitenav .loginBox li {
	/*display: block;*/
	float: left;
	margin-right: 10px;
	line-height: 41px;
	color: #FFFFFF;
}
.sitenav .right a {
	display: inline-block;
	line-height: 41px;
	padding: 0 10px;
	color: #FFFFFF;
}
.sitenav .left {
	height: 40px;
}
.sitenav .left a {
	display: inline-block;
	line-height: 0;
	
}
.sitenav a:hover {
	color: #FFFFFF;
	background: rgba(255,255,255,0.2);
}


.menu {
	background: #E5E5E5;
	height: 95px;
}
.menu .txtLogo {
	padding: 18px 0 0 10px;
}
.menu .txtLogo p {
	font: bold 28px/36px "微软雅黑";
	color: #0169c5;
	/*letter-spacing: 6px;*/
}
.menu .txtLogo span {
	font: bold  12px/20px "微软雅黑";
	color: #0169c5;
}
.menu .right {
	position: relative;
	padding-top: 25px;
}
.menu .mainSearch {
	/*width: 390px;*/
	
	font-size: 0;
	float: left;
}
.menu .mainSearch .select {
	vertical-align: middle;
	padding-left: 10px;
	width: 72px;
	height: 38px;
	border: none;
	border: 1px solid #999999;
	font: 12px/25px "微软雅黑";
	outline: none;
	color: #333333;
}
.menu .mainSearch .select option {
	outline: none;
}
.menu .mainSearch input {
	box-sizing: border-box;
	border: 1px solid #999999;
	border-left: none;
	padding-left: 10px;
	vertical-align: middle;
	text-align: left;
	width: 300px;
	height: 38px;
	font: 12px/25px "微软雅黑";
	outline: none;
	color: #333333;
	background: #FFFFFF url(../img/icon_search_small.png) no-repeat 270px center;
}
.pubBtn {
	width: 116px;
	height: 38px;
	border: 1px solid #999999;
	background: #FFFFFF;
	margin-left: 20px;
}
.pubBtn:hover {
	background: #0169c6;
	color: #FFFFFF;
}


/*导航栏结束*/

/*footer开始*/
.footer {
	background: #363636;
	text-align: center;
	color: #f0f0f0;
	padding: 0 0 10px 0;
}
.footer p {
	font: 12px/24px "微软雅黑"
}
.footer p:nth-child(2) {
	color: #8f8f8f;
}

/*footer结束*/
.footer .character {
	background: #4a4a4a;
	margin-bottom: 10px;
}
.footer .character ul {
	position: relative;
	padding-left: 130px;
}
.footer .character ul li {
	float: left;
	margin-left: 70px;
	width: 136px;
}
.footer .character ul li img {
	vertical-align: middle;
	padding-right: 10px;
}
.footer .character ul li p {
	line-height: 60px;
	color: #fabd00;
	vertical-align: middle;
	font-size: 18px;
	
}
