/*主体内容开始*/
.main {
	background: #FFFFFF;
}
.breadcrumb {
	position: relative;
}

.breadcrumb li {
	float: left;
	font: 14px/50px "微软雅黑";
}

.breadcrumb li span {
	margin: 0 15px;
	color: #666666;
}
.breadcrumb a {
	color: #1c5996;
	font: 14px/50px "微软雅黑";
}


.content {
	position: relative;
}
.contentLeft {
	width: 225px;
	background: #E6E6E6;
	padding: 25px;
}
.contentLeft .category .category_hd {
	border-bottom: 1px solid #999999;
	padding-bottom: 10px;
}
.contentLeft .category .category_hd p {
	font: 18px/30px "微软雅黑";
	color: #000000;
}
.contentLeft .category .category_bd li {
	text-align: center;
}
.contentLeft .category .category_bd li.active a {
	background: #fabd00;
	color: #ffffff;
}
.contentLeft .category .category_bd a {
	display: block;
	width: 228px;
	height: 72px;
	margin-top: 11px;
	background: #c1d1d0;
	color: #000000;
	font: lighter 25px/72px "微软雅黑";
}
.contentLeft .category .category_bd a:hover {
	background: #fabd00;
}
.contentRight {
	width: 870px;
	height: 800px;
	background: #FFFFFF;
	/*padding: 0 25px ;*/
	position: relative;
}

.contentRight .serviceCon .serviceCon_hd {
	border-bottom: 1px solid #999999;
	padding-bottom: 10px;
}
.contentRight .serviceCon .serviceCon_hd p {
	font: 24px/30px "微软雅黑";
	color: #000000;
}
.contentRight .serviceCon .serviceCon_bd ul{
	position: relative;
}
.contentRight .serviceCon .serviceCon_bd ul li {
	position: relative;
	height: 127px;
	border-bottom: 1px solid #cecece;
	padding: 14px 0;
}
.contentRight .serviceCon .serviceCon_bd img {
	float: left;
	width: 194px;
	height: 120px;
}
.textbox {
	width: 650px;
}
.textbox h3 a{
	font: 18px/24px "微软雅黑";
}
.textbox .des {
	font: 12px/20px "微软雅黑";
	margin: 5px auto;
	color: #B5B5B5;
	overflow: hidden;
	height: 80px;
}
.textbox .publishTime {
	font: 12px/20px "微软雅黑";
	position: absolute;
	left: 220px;
	bottom: 17px;
	color: #999999;
}

