body {
	background: #e6e6e6;
}
.main {
	background: #FFFFFF;
}

.content {
	position: relative;;
}
.contentLeft {
	margin-left: 20px;
	width: 800px;
}
.main .pro_hd {
	padding-top: 15px;
}
.main .pro_hd .mainNav {
	position: relative;
	width: 254px;
	height: 320px;
}
.main .pro_hd .mainNav .toggleBtn {
	height: 50px;
	background: #0169c6 url(../img/icon_arrowDown.png) no-repeat 220px center;
}
.main .pro_hd .mainNav .toggleBtn p {
	padding-left: 18px;
	color: #FFFFFF;
	line-height: 50px;
	font-size: 18px;
}
.main .pro_hd .mainNav ul.navBar {
	background: red;
	position: relative;
	border: 1px solid #0169c6;
	border-right: none;
	background: #FFFFFF;
	width:252px; 
	display: block;
}
.main .pro_hd .mainNav .navBar li {
	height: 66px;
	border-bottom: 1px solid #d4d4d4;
	border-right: 1px solid #0169c6;
	background: url(../img/icon_arrowRight_default.png) no-repeat 220px center;
}
.main .pro_hd .mainNav .navBar li.active {
	background: #cce1f4;
	border-top: 1px solid #0169c6;
	border-bottom: 1px solid #0169c6;
	border-right: none;
	z-index: 11;
}
/*.main .pro_hd .mainNav .navBar li:after {
	content: "";
	display: block;
	width: 12px;
	height: 20px;
	position: absolute;
	top: 25px;
	right: -2px;
	background: url(../img/icon_triangle.png) no-repeat center center;
}*/
.main .pro_hd .mainNav .navBar li a {
	display: inline-block;
	font: 22px/64px "微软雅黑";
	color: #333;
	padding-left: 70px;
}
.main .pro_hd .mainNav .navBar li:nth-child(1) a {
	background: url(../img/icon_land_default.png) no-repeat 18px center;
}
.main .pro_hd .mainNav .navBar li:nth-child(2) a {
	background: url(../img/icon_channeng_default.png) no-repeat 18px center;
}
.main .pro_hd .mainNav .navBar li:nth-child(3) a {
	background: url(../img/icon_service_default.png) no-repeat 20px center;
}
.main .pro_hd .mainNav .navBar li:nth-child(4) a {
	background: url(../img/icon_tech_default.png) no-repeat 20px center;
}
.main .pro_hd .subNav {
	position: absolute;
	top: 49px;
	left: 253px;
	border: 1px solid #0169c6;
	border-left: none;
	display: none;
	z-index: 10;
}
.main .pro_hd .subNav .subCon {
	width: 482px;
	height: 260px;
	background: #FFFFFF;
	position: relative;
	box-sizing: border-box;
}
.main .pro_hd .subNav .subCon .left {
	width: 50%;
	overflow: hidden;
}
.main .pro_hd .subNav .subCon dl {
	position: relative;
	width: 240px;
	height: 260px;
}
.main .pro_hd .subNav .subCon dl:nth-child(2) {
	border-left: 1px solid #E5E5E5;
}
.main .pro_hd .subNav .subCon dl dd {
	width: 120px;
}
.main .pro_hd .subNav .subCon dl dt {
	/*display: block;*/
	display: inline-block;
	background: #0169c6;
	color: #FFFFFF;
	font: 18px/26px "微软雅黑";
	padding: 0 15px;
	margin: 10px 15px;
}
.main .pro_hd .subNav .subCon dl dd a {
	margin-left: 30px;
	color: #333;
	font: 16px/36px "微软雅黑";
	
}
.main .pro_hd .subNav .subCon dl dd a:hover {
	text-decoration: underline;
}
.loginCon {
	position: absolute;
	top: 15px;
	right: 0;
	width: 242px;
	height: 320px;
	background: #FFFFFF;
}
.loginCon .mainLoginBox {
	margin: 20px auto 20px;
}
.loginCon .mainLoginBox .mainLoginBox_hd,
.loginCon .mainLoginBox .mainLoginBox_hd {
	text-align: center;
}
.loginCon .mainLoginBox .mainLoginBox_hd img {
	border-radius: 30px;
}
.loginCon .mainLoginBox .mainLoginBox_bd input {
	width: 82px;
	height: 25px;
	border: 1px solid #1c5996;
	background: #FFFFFF;
	margin: 10px 0 0 19px;
	cursor: pointer;
}
.loginCon .mainLoginBox .mainLoginBox_bd input:nth-child(2) {
	width: 82px;
	height: 25px;
	border: 1px solid #1c5996;
	background: #0169c6;
	color: #FFFFFF;
}
.loginCon .mainLoginBox .mainLoginBox_bd input:hover {
	opacity: 0.8;
}
.loginCon .hot {
	text-align: center;
}
.loginCon .hot h4 {
	color: #e50027;
	font: 16px/30px "微软雅黑";	
	margin-top: 15px;
}
.loginCon .hot p {
	text-indent: 1em;
	text-align: left;
	font: 14px/24px "微软雅黑";	
	color: #999999;
}
.loginCon .ft {
	text-align: center;
	margin-top: 20px;
}
.loginCon .ft input {
	width: 177px;
	height: 38px;
	border: 1px solid #b78a00;
	background: #fabd00;
	outline: none;
	cursor: pointer;
}
.loginCon .ft input:hover {
	opacity: 0.8;
}
.pro_bd {
	margin-top: 20px;
	padding-bottom: 30px;
	position: relative;
}
.pro_bd .msg {
	width: 254px;
	height: 250px;
}
.pro_bd .msg .msg_hd {
	position: relative;
	width: 255px;
}
.pro_bd .msg .msg_hd li {
	float: left;
	background: #d2deea;
	text-align: center;
	font: 16px/50px "微软雅黑";
	border-right: 1px solid #FFFFFF;
	width: 84px;
	/*box-sizing: border-box;*/
	cursor: pointer;
}
.pro_bd .msg .msg_hd li.active {
	background: #0169c6;
	color: #ffffff;
}
.pro_bd .msg .msg_bd {
	display: none;
	position: relative;
	border: 1px solid #1c5996;
	height: 200px;
	overflow: hidden;
}
.pro_bd .msg ul:nth-child(2) {
	display: block;
}
.pro_bd .msg .msg_bd li {
	border-bottom: 1px dotted #E5E5E5;
	padding: 10px 5px;
	/*padding-top: 10px;*/
	overflow: hidden;
}
.pro_bd .msg .msg_bd li a {
	font: 14px/20px "微软雅黑";
}
.slider2 {
	width: 650px;
	height: 250px;
	margin-left: 15px;
	/*background: red;*/
}
.slider2 .slider2_hd {
	text-align: left;
	height: 50px;
	border-bottom: 1px solid #e5e5e5;
	font: 16px/50px "微软雅黑";
	padding-left: 10px;
}
.slider2 .slider2_bd {
	position: relative;
	margin-left: 15px;
	width: 620px;
}
.slider2 .carouselImgCon {
	position: relative;
	height: 200px;
	overflow: hidden;
}
.slider2 ul {
	/*width: 1100px;*/
	position: absolute;
	left: 0;
}
.slider2  li {
	width: 130px;
	height: 200px;
	float: left;
	margin-left: 20px;
	position: relative;
	overflow: hidden;
}
.slider2 img {
	margin-top: 15px;
	width: 128px;
	height: 128px;
	border: 1px solid #0169c6;
}
.slider2 .title {
	text-align: center;
	padding-top: 8px;
	font-size: 12px;
}
.slider2 .title a {
	font-weight: bold;
	color: #0169c6;
	font-size: 14px;
}
.slider2 .title p {
	font-size: 12px;
	color: #666666;
	line-height: 16px;
}
.slider2 .prev {
	left: -10px;
	background: #e7e2d7;
}
.slider2 .next {
	right: -10px;
}
.slider2 .prev:hover,.slider2 .next:hover {
	background: #B19E7A;
}
.slider2 .prev, .slider2 .next {
	border-radius: none;
	width: 25px;
	height: 25px;
	line-height: 25px;
	border-radius: 50%;
	text-align: center;
	background: #0169c6;
	color: #FFFFFF;
	font-size: 20px;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.pro_bd .people {
	position: absolute;
	right: 0;
	top: 0;
	width: 230px;
	height: 250px;
	text-align: center;
}
.pro_bd .people .people_hd {
	text-align: left;
	height: 50px;
	border-bottom: 1px solid #e5e5e5;
	font: 16px/50px "微软雅黑";
	padding-left: 10px;
}
.pro_bd .people input {
	width: 200px;
	height: 51px;
	background: #FFFFFF;
	border: 1px solid #1c5996;
	margin-top: 10px;
	cursor: pointer;
}
.pro_bd .people input:hover {
	background: #1c5996;
	color: #ffffff;
}
.slider {
	width: 650px;
	height: 320px;
	margin-left: 13px;
	position: absolute;
	top: 15px;
	left: 254px;
}
.bannerPic {
	height: 320px;
	position: relative;
	overflow: hidden;
}
.bannerPic .carouselImgCon {
	position: relative;
}
.bannerPic .carouselImgCon a {
	position: absolute;
	top: 0;
	left: 0;
}






