body {
	background: #e6e6e6;
}
.main .container {
	background: #FFFFFF;
	padding-bottom: 50px;
}
.main .container .bread {
	height: 50px;
	padding: 0 20px;
}

.breadcrumb {
	position: relative;
}
.breadcrumb li {
	float: left;
	font: 14px/50px "微软雅黑";
}
.breadcrumb li span {
	margin: 0 15px;
	color: #666666;
}
.breadcrumb a {
	/*display: inline-block;*/
	color: #1c5996;
	font: 14px/50px "微软雅黑";
}

.content {
	position: relative;;
	/*background: green;*/
}
.contentLeft {
	margin-left: 20px;
	width: 800px;
	/*background: red;*/
}

.tabBox {
	margin-top: 46px;
}
.tabBox .tab_hd {
	margin-bottom: 13px;
}
.tabBox .tab_hd ul {
	position: relative;
	border-bottom: 1px solid #000000;
}
.tabBox .tab_hd ul li {
	float: left;
	text-align: center;
}
.tabBox .tab_hd ul li a {
	display: inline-block;
	background: #e6e6e6;
	font: 16px/40px "微软雅黑";
	padding: 0 30px;
	border-right: 1px solid #FFFFFF;
	color: #333333;
}
.tabBox .tab_hd ul li.active a,
.tabBox .tab_hd ul li a:hover {
	background: #1c5996;
	color: #FFFFFF;
}
.tabBox .tab_bd {
	
}
.tabBox .tab_bd .tab_conBox li {
	padding: 15px 0;
	border-bottom: 1px solid #F5F5F5;
}
.tabBox .tab_bd .tab_conBox li img {
	width: 192px;
	height: 120px;
	float: left;
}
.tabBox .tab_bd .tab_conBox li .txtBox {
	float: right;
	width: 593px;
	height: 120px;
	position: relative;
}
.tabBox .tab_bd .tab_conBox li .txtBox h3 {
	font: 18px/20px "微软雅黑";
	font-weight: bold;
	margin-bottom: 9px;
	color: #000000;
	white-space: nowrap; 
	text-overflow:ellipsis; 
	overflow:hidden;
}
.tabBox .tab_bd .tab_conBox li .txtBox p {
	font: 12px/16px "微软雅黑";
	margin-bottom: 9px;
	color: #b0b0b0;
	height: 48px;
	overflow: hidden;
	text-overflow:ellipsis; 
}
.tabBox .tab_bd .tab_conBox li .txtBox span.writer,
.asideBox .msg .msg_bd span.writer {
	position: absolute;
	left: 0;
	bottom: 5px;
	font: 12px/16px "微软雅黑";
	color: #b5b5b5;
}
.tabBox .tab_bd .tab_conBox li .txtBox span.publishTime,
.asideBox .msg .msg_bd span.publishTime {
	position: absolute;
	right: 0;
	bottom: 5px;
	font: 12px/16px "微软雅黑";
	color: #b5b5b5;
}

.asideBox {
	padding: 0 24px;
}
.asideBox .msg {
	background: #e6e6e6;
	width: 300px;
	box-sizing: border-box;
	padding: 10px 22px;
}
.asideBox .msg .msg_hd {
	border-bottom: 1px solid #999999;
	position: relative;
}
.asideBox .msg .msg_hd p {
	font: 18px/36px "微软雅黑";
	color: #000000;
	float: left;
}
.asideBox .msg .msg_hd span.more {
	padding-top: 4px;
	font: 14px/36px "微软雅黑";
	color: #999999;
	float: right;
}
.asideBox .msg .msg_bd {
	margin-top: 20px;
}
.asideBox .msg .msg_bd ul li {
	margin-top: 15px;
	position: relative;
	height: 80px;
	border-bottom: 1px solid #c9c9c9;
}
.asideBox .msg .msg_bd h4 a {
	font: 16px/20px "微软雅黑";
	color: #000000;
}
.asideBox .msg .msg_bd h4 a:hover {
	color: #1c5996;
}
.asideBox .policy .msg_bd ul li {
	height: 50px;
	margin-top: 15px;
	position: relative;
	border: none;
}