/*主体内容开始*/

.main {
	background: #FFFFFF;
}
.container {
	margin-bottom: 30px;
}
.breadcrumb {
	position: relative;
}

.breadcrumb li {
	float: left;
	font: 14px/50px "微软雅黑";
}

.breadcrumb li span {
	margin: 0 15px;
	color: #666666;
}
.breadcrumb a {
	color: #1c5996;
	font: 14px/50px "微软雅黑";
}
.banner {
	height: 358px;
	/*margin-top: 50px;*/
}
.contentRight ul {
	position: relative;
	width: 348px;
}

.contentRight ul li {
	text-align: center;
	display: block;
	width: 348px;
	height: 110px;
	margin-bottom: 14px;
}
.contentRight ul li:nth-child(3) {
	margin-bottom: 0;
}
.contentRight ul li a {
	display: block;
	font: lighter 36px/110px "微软雅黑";
	color: #FFFFFF;
}
.contentRight ul li:nth-child(1) a {
	background: url(../img/people_small01.jpg) no-repeat left top;
}
.contentRight ul li:nth-child(2) a {
	background: url(../img/people_small02.jpg) no-repeat left top;
}
.contentRight ul li:nth-child(3) a {
	background: url(../img/people_small03.jpg) no-repeat left top;
}

.training {
	margin-top: 40px;
	width: 574px;
	overflow: hidden;
	height: 300px;
}
.training .training_hd ul {
	border-bottom: 1px solid #e6e6e6;
	position: relative;
}

.training .training_hd ul li{
	float: left;
	text-align: center;
}
.training .training_hd ul li a {
	width: 125px;
	height: 34px;
	display: block;
}
.training .training_hd ul li.active a,
.training .training_hd ul li a:hover {
	border-bottom: 3px solid #1c5996;
}
.training .training_bd ul{
	position: relative;
}
.training .training_bd ul li{
	border-bottom: 1px dotted #E5E5E5;
}
.training .training_bd ul li a {
	font: 16px/50px "微软雅黑";
	color: #1c5996;
}






















