
/*公共样式*/
.container {
	width: 1360px;
	position: relative;
	/*margin: 0 auto;*/
}
.left {
	float: left;
}
.right {
	float: right;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}


/*头部*/
.header .container {
	height: 64px;	
	border: 1px solid gray;
	box-sizing: border-box;
}

/*菜单*/
.menu ul {
	list-style: none;
	position: relative;
	background: lightgray;
	margin: 0;
	padding: 0;
}
.menu ul li {
	display: block;
	float: left;
}
.menu ul li a {
	display: inline-block;
	padding : 0 20px;
	line-height: 29px;
	background: lightblue;
}

/*搜索*/
.search .container {
	border: 1px solid gray;
	box-sizing: border-box;
}
.search_bd {
	height: 60px;
	padding: 10px 0 0 0;
	
}
.search_bd .searchBox {
	margin: 0 auto;
	height: 40px;
	width: 870px;
	border: 1px solid gray;
	box-sizing: border-box;
}
.search_ft {
	height: 40px;
}


/*主体内容*/
.main {
	width: 960px;
}
.main .smallbox {
	width: 450px;
	height: 320px;
	border: 1px solid gray;
	margin-bottom: 18px;
	box-sizing: border-box;
}

.main .largebox {
	width: 950;
	height: 300px;
	border: 1px solid gray;
	margin-bottom: 18px;
	box-sizing: border-box;
}

/*右侧内容*/
.aside {
	width: 347px;
}
.aside .imgbox {
	width: 347px;
	height: 175px;
	background: pink;
	margin-bottom: 18px;
}
.aside .listbox {
	width: 347px;
	height: 463px;
	border: 1px solid gray;
	margin-bottom: 18px;
	box-sizing: border-box;
}

/*底部*/
.footer .container {
	background: lightgreen;
	height: 50px;
}
