body {
	background: url(../img/bg.jpg) no-repeat;
	background-size: cover;
	padding-bottom: 40px;
}
/*头部部分*/
.btn {
	display: inline-block;
	-webkit-tap-highlight-color:transparent;
}
.header {
	height: 102px;
	width: 100%;
}
.header .con {
	padding-top: 25px;
	width: 88%;
	text-align: right;
	display: block;
	margin: 0 auto;
}
.header .con .help  {
	width: 126px;
	height: 53px;
	background: url(../img/btn_jingling.png) no-repeat 0 0;
}
.header .con .help:active  {
	background: url(../img/btn_jingling.png) no-repeat 0 -53px;
}
.header .con .login  {
	width: 170px;
	height: 53px;
	background: url(../img/btn_jingling.png) no-repeat 0 -106px;
}
.header .con .login:active  {
	background: url(../img/btn_jingling.png) no-repeat 0 -159px;
}


/*主体部分*/
.content {
	width: 88%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	border-radius: 6px;
	box-shadow: 0 4px 10px rgba(50,50,50,0.15);
	min-height: 626px;
	max-height: 800px;
	border: 1px solid #f5f5f5;
	background: #FFFFFF;
	padding: 0 18px;
	box-sizing: border-box;
}
.content .con_hd {
	border-bottom: 1px solid #e3e3e3;
	text-align: center;
}
.content .con_hd h3 {
	width: 490px;
	margin: 0 auto;
	line-height: 84px;
}

/*操作栏各种按钮*/
.content .con_hd .back {
	/*display: none;*/
	width: 160px;
	height: 55px;
	background: url(../img/btn_jingling.png) no-repeat 0 -530px;
	margin-top: 15px;
}
.content .con_hd .back:active {
	background: url(../img/btn_jingling.png) no-repeat 0 -585px;
	
}
.content .con_hd .close {
	/*display: none;*/
	width: 126px;
	height: 53px;
	background: url(../img/btn_jingling.png) no-repeat 0 -424px;
	margin-top: 15px;
}
.content .con_hd .close:active {
	background: url(../img/btn_jingling.png) no-repeat 0 -477px;
	
}

/*内容部分*/
.content .con_bd {
	width: 100%;
	height: 464px;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	text-align: center;
	position: relative;
}


/*数据表格*/
.content .con_bd {
	overflow: hidden
	
}
.content .con_bd table {
	width: 100%;
}
.content .con_bd table tr {
	height: 76px;
	background: #FFFFFF;
}
.content .con_bd table tr th,
.content .con_bd table tr td {
	font-size: 24px;
	text-align: center;
}
.content .con_bd table.table_two {
	margin-top: 76px;
	overflow: auto;
}
.content .con_bd .table_box {
	position: relative;
	height: 450px;
	overflow-y: scroll;
}
.content .con_bd table.table_two tr.readonly {
	color: #aaaaaa;
}
.content .con_bd table.table_two tr td input[type="text"] {
	border: none;
	background: #e9e9e9;
	height: 57px;
	border-radius: 4px;
	max-width: 100px;
}
.content .con_bd table.table_two tr td input[type="text"]:disabled {
	border: none;
	background: #FFFFFF;
	height: 57px;
	color: #AAAAAA;
}
.content .con_bd table.table_two tr td span.type {
	color: #e60012;
}
.content .con_bd table.table_two tr td.number {
	position: relative;
}
.content .con_bd table.table_two tr td.number button {
	background: #FFFFFF;
	outline: none;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	border: 3px solid #e60012;
	font-weight: bold;
	font-size: 20px;
	color: #e60012;
}
.content .con_bd table.table_two tr td.number button:active {
	background: #e60012;
	color: #FFFFFF;
}
.content .con_bd table.table_two tr td.number input {
	border: none;
	background: #e9e9e9;
	height: 57px;
	border-radius: 4px;
	text-align: center;
	width: 64px;
	outline: none;
}
.content .con_bd table.table_two tr td .delete {
	width: 74px;
	height: 38px;
	border: 1px solid #2c35dc;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	background: #4857e6;
	background: -webkit-linear-gradient(#4857e6, #323cdb); 
    background: -o-linear-gradient(#4857e6, #323cdb); 
    background: -moz-linear-gradient(#4857e6, #323cdb); 
    background: linear-gradient(#4857e6, #323cdb); 
    color: #FFFFFF;
    font-size: 18px;
    outline: none;
}
.content .con_bd table.table_two tr td .delete:active {
	background: -webkit-linear-gradient(#323cdb, #4857e6);
    background: -o-linear-gradient(#323cdb, #4857e6); 
    background: -moz-linear-gradient(#323cdb, #4857e6); 
    background: linear-gradient(#323cdb, #4857e6); 
}
.content .con_bd table.table_header {
	background: #FFFFFF;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
.content .con_bd table.table_two tr td:nth-child(1) {
	width: 5%;
}

.content .con_bd table.table_two tr td:nth-child(2) {
	width: 12%;
}
.content .con_bd table.table_two tr td:nth-child(3) {
	width: 26%;
}
.content .con_bd table.table_two tr td:nth-child(4) {
	width: 15%;
}
.content .con_bd table.table_two tr td:nth-child(5) {
	width: 15%;
}
.content .con_bd table.table_two tr td:nth-child(6) {
	width: 25%;
}

.content .con_bd table.table_header tr th:nth-child(1) {
	width: 5%;
	font-size: 24px;
	line-height: 28px;
}
.content .con_bd table.table_header tr th:nth-child(2) {
	width: 12%;
}
.content .con_bd table.table_header tr th:nth-child(3) {
	width: 26%;
}
.content .con_bd table.table_header tr th:nth-child(4) {
	width: 15%;
}
.content .con_bd table.table_header tr th:nth-child(5) {
	width: 15%;
}
.content .con_bd table.table_header tr th:nth-child(6) {
	width: 25%;
}





/*底部确认按钮和提示信息*/
.content .con_ft {
	height: 78px;
	text-align: center;
	position: relative;
}
.content .con_ft .confirmBtn {
	margin-top: 15px;
	width: 145px;
	height: 53px;
	background: url(../img/btn_jingling.png) no-repeat 0 -640px;
}
.content .con_ft .confirmBtn:active {
	background: url(../img/btn_jingling.png) no-repeat 0 -693px;
}
.content .con_ft .info {
	display: none;
	font-size: 24px;
	position: absolute;
	left: 0;
	right: 0;
	top: -32px;
}
.content .con_ft .info span {
	color: #e60012;
}
