/*需要覆盖的代码*/

/*解决背景自适应问题，将背景图切成了3片*/
html,body {
    height:100%;
    width: 100%;
}


body {
    background: none;
    background-size: 0 0;
    padding-bottom: 0;
    position: relative;
}

.logoBg {
    width: 287px;
    height:87px;
    background: url("../images/logoBg.png") no-repeat center center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.topRight {
    width: 600px;				
    height:270px;
    background: url("../images/topRight.jpg") no-repeat center center;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -2;
}
.bottomLeft {
    width: 590px;					
    height:132px;
    background: url("../images/bottomLeft.jpg") no-repeat center center;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -3;
}
/*解决logo遮盖*/
.header .con {
	width: 96%;
}
/*解决主体部分高度自适应，内容部分高度不能自适应*/
.content {
    width: 96%;
    margin: 0 auto 15px auto;
    position: absolute;
    top: 90px;
    left: 2%;
    bottom: 0;
    min-height: 100px;
    max-height: 2000px;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(50, 50, 50, 0.15);
    border: 1px solid #f5f5f5;
    background: #FFFFFF;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: hidden;
}

/*解决主岗名字太长显示不了*/
.content .con_hd .space {
    width: 20px;
}
.content .con_hd h3 {
    font-size: 24px;
}

.content .con_bd .btn {
    font-size: 30px;
}

.content .con_bd .xiezhu {
    line-height: 380px;
}
/*主要按钮背景图往左移*/
.content .con_bd .jijian {
    background: #f8af12 url(../images/jijian_bg.png) no-repeat 50px center;
}
.content .con_bd .jijian:active {
    background: #de9d10 url(../images/jijian_bg.png) no-repeat 50px center;

}
.content .con_bd .xiagang {
    background: #3399db url(../images/xiagang_bg.png) no-repeat 50px center;
}
.content .con_bd .xiagang:active {
    background: #2d86c2 url(../images/xiagang_bg.png) no-repeat 50px center;
}
/*设置界面背景图片去除*/
.content .con_bd .changeCode {
    background-image: none;
}
.content .con_bd .changeCode:active {
    background-image: none;

}
.content .con_bd .jijian {
    background-image: none;
}
.content .con_bd .jijian:active {
    background-image: none;

}
.content .con_bd .xiagang {
    background-image: none;
}
.content .con_bd .xiagang:active {
    background-image: none;
}


.content .con_ft {
	width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #FFFFff;
}
/*解决由于底部绝对定位引起的文字靠边*/
.content .con_ft .tips {
    left: 10px;
}

/*解决计件工资显示不完整*/
/*表头高度降低*/
.content .con_bd table tr {
    height: 60px;
}
.content .con_bd table.table_two {
    margin-top: 60px;
}
/*表头文字缩小*/
.content .con_bd table.table_header tr th:nth-child(1) {
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
}

.content .con_bd table.table_header tr th {
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
    border-bottom: 1px solid #f5f5f5;
}
.content .con_bd table.table_header tr th:nth-child(1) {
    width: 5%;
}
.content .con_bd table.table_header tr th:nth-child(2) {
    width: 12%;
}
.content .con_bd table.table_header tr th:nth-child(3) {
    width: 31%;
}
.content .con_bd table.table_header tr th:nth-child(4),
.content .con_bd table.table_header tr th:nth-child(5) {
    width: 11%;
}
.content .con_bd table.table_header tr th:nth-child(6) {
    width: 30%;
}
/*内容部分宽度调整*/
.content .con_bd table.table_two tr td:nth-child(1) {
	width: 5%;
}


.content .con_bd table.table_two tr td:nth-child(3) {
	width: 31%;
}
.content .con_bd table.table_two tr td:nth-child(4) {
	width: 11%;
}
.content .con_bd table.table_two tr td:nth-child(5) {
	width: 11%;
}
.content .con_bd table.table_two tr td:nth-child(6) {
	width: 30%;
}
/*时间输入框变窄*/
.content .con_bd table.table_two tr td input[type="text"] {
    max-width: 70px;
    padding: 0 0;
}
/*整体文字缩小*/
.content .con_bd table tr td {
    font-size: 20px;
    font-weight: normal;
}
/*操作按钮*/
.content .con_bd table.table_two tr td:nth-child(2) {
    width: 12%;
}
/*
.content .con_bd table.table_two tr td .delete {
    width: 60px;
    height: 32px;
    font-size: 16px;
}
*/
/*解决按钮内文字移除*/
.infoBox span {
	font-size: 20px;
	line-height: 24px;
}
.content .con_bd .infoBox {
    position: absolute;
    top: 240px;
    left: 8%;
    width: 30%;
}
/*注意这行代码需要变更html*/
.content .con_bd .btnTitle {
    display: inline-block;
   
}

.content .con_bd .xiezhu {
    line-height: 24px;
}
/*解决宽度不够引起的标题换行*/
.searchInput {
    width: 114px;
}

/*解决岗位排序字母键盘自适应问题*/
.softmodal {
    height: 300px;
    /*position: relative;*/
} 
.jianpanBox {
    width: 100%;
    position: absolute;
    left: 0;
    margin-left: 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
}
.jianpanBox input[type="button"] {
    width: 7%;
    height: 54px;
    margin: 20px 0 0 2.0%;
}

.jianpanBox input.backspaceBtn {
    width: 12%;
    text-align: center;
    font-size: 30px;
}
/*解决计件补录数字输入自适应问题*/

/*解决寄件补录时间输入键盘问题*/
.timeBox {
    background: #FFFFFF;
    width: 840px;
    height: 564px;
    position: absolute;
    left: 50%;
    margin-left: -420px;
    border-radius: 6px;
}
.timeBox {
    width: 96%;
    margin: 0 2%;
    left: 0;
    top: 50%;
    margin-top: -282px;
    box-sizing: border-box;
}
.timeBox .timeBox_bd {
    width: 100%;
}
.timeBox .timeBox_bd .left {
    width: 59%;
}
.timeBox .timeBox_bd .right {
    width: 41%;
}
.timeBox .timeBox_bd .left .bottom input[type="button"] {
    margin: 20px 0 0 4%;
    width: 12%;
}

.timeBox .timeBox_bd .right .bottom input[type="button"] {
    margin: 20px 0 0 5%;
    width: 18.75%;
}
.timeBox .timeBox_bd .right .bottom input.clearBtn {
    margin-left: 6%;
    width: 40%;
}
.timeBox .timeBox_bd .bottom input[type="button"] {
    font-size: 30px;
}

/*解决表格太窄，放不下加减号*/
.content .con_bd table.table_two tr td.number input {
    width: 44px;
}
.content .con_bd table.table_two tr td.number button {
    width: 36px;
    height: 36px;
}


/*解决岗位名称长短不一，选择项不美观问题*/
/*必须给li添加class属性*/
.content .con_bd ul li {
    width: 30%;
    margin: 20px 0;
    margin-right: 3%;
    text-align: center;
}

.content .con_bd ul li input[type = "checkbox"] + label {
    display: block;
    height: 40px;
    font-size: 18px;
    line-height: 22px;
    padding: 4px 4px;
    overflow: hidden;
    white-space:pre-wrap;
    -webkit-touch-callout:none;  
    -webkit-user-select:none;  
    -khtml-user-select:none;  
    -moz-user-select:none;  
    -ms-user-select:none;  
    user-select:none;
}

/*解决小客户往左偏移问题*/
.content .con_bd ul.xiaokehu li {
	width: 22%;
	text-align: left;
	margin-top: 40px;
	margin-right: 3%;
	position: relative;
}

.content .con_bd ul.xiaokehu li input[type = "checkbox"] + label {
	border-radius: 4px;
	background: #a8c5a7;
	line-height: 28px;
	color: #FFFFFF;
	display: block;
	width: 100%;
	height: 170px;
	text-align: center;
	box-sizing: border-box;
	padding: 40px 0 0 0;
}

/*解决标题栏文字太大，容易隐藏问题*/
.content .con_bd .btn {
    font-size: 30px;
}

/*需要给setting页面ul设置类名*/
.content .con_bd .settingList li {
    width: 100%;
}


/* 海底捞二期项目修改，
文泽海，2018-3-19日添加 */

/* 主页面main_2.html DOM结构有变化，三个按钮变成四个按钮 */



.content .con_bd .btn.sb {
    font-size: 30px;
    width: 30%;
    padding: 0 0 0 15%;
    height: 190px;
    margin: 2% 2.5%;
    text-align: left;
    line-height: 190px;
    background: #83c024 url(../images/shangban_bg.png) no-repeat 10% center;
    background-size: 20%;
    font-size: 30px;
}
.content .con_bd .sb:active {
    background: #7db427 url(../images/shangban_bg.png) no-repeat 10% center;
    background-size: 20%;
}
.content .con_bd .btn.jj {
    font-size: 30px;
    width: 30%;
    padding: 0 0 0 15%;
    height: 190px;
    margin: 2% 2.5%;
    text-align: left;
    line-height: 190px;
    background: #f8af12 url(../images/jijian_bg.png) no-repeat 10% center;
    font-size: 30px;
    background-size: 20%;
}
.content .con_bd .jj:active {
    background: #de9d10 url(../images/jijian_bg.png) no-repeat 10% center;
    background-size: 20%;
}

/* 协助按钮,DOM结构有变化 */
.content .con_bd .btn.xz {
    font-size: 30px;
    width: 30%;
    padding: 30px 0 30px 15%;
    height: 130px;
    margin: 2% 2.5%;
    text-align: left;
    background: #19bd9b url(../images/xiezhu_bg.png) no-repeat 10% center;
    background-size: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}
.content .con_bd .xz:active {
    background: #15a387 url(../images/xiezhu_bg.png) no-repeat 10% center;
    background-size: 20%;
}

.content .con_bd .xz .title {
    font-size: 30px;
    line-height: 1.5em;
    display: block;
}
.content .con_bd .btn .des {
    font-size: 14px;
    line-height: 1.5em;   
    display: block;
}

/* 下班按钮 */
.content .con_bd .btn.xb {
    font-size: 30px;
    width: 30%;
    padding: 0 0 0 15%;
    height: 190px;
    margin: 2% 2.5%;
    text-align: left;
    line-height: 190px;
    background: #3399db url(../images/xiagang_bg.png) no-repeat 10% center;
    font-size: 30px;
    background-size: 20%;
}
.content .con_bd .xb:active {
    background: #2d86c2 url(../images/xiagang_bg.png) no-repeat 10% center;
    background-size: 20%;
}

/* 姓名文字加大,需要改DOM */
.content .con_hd h3 .name {
    font-size: 40px;
    line-height: 70px;
    color: #e13920;
}

.content .con_bd .btn.disabled {
    background-color: #bfbfbf;
}


/* 计件页面操作按钮 */
.content .con_bd table.table_two tr td .delete {
	width: 40px;
    height: 26px;
	border: 1px solid #2c35dc;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background: #4857e6;
	background: -webkit-linear-gradient(#4857e6, #323cdb);
	background: -o-linear-gradient(#4857e6, #323cdb);
	background: -moz-linear-gradient(#4857e6, #323cdb);
	background: linear-gradient(#4857e6, #323cdb);
	color: #FFFFFF;
	font-size: 14px;
	outline: none;
	padding: 1px 0;
	margin-right: 8px;
}

.content .con_bd table.table_two tr td .delete:active {
	background: -webkit-linear-gradient(#323cdb, #4857e6);
	background: -o-linear-gradient(#323cdb, #4857e6);
	background: -moz-linear-gradient(#323cdb, #4857e6);
	background: linear-gradient(#323cdb, #4857e6);
}



.content .con_bd table.table_two tr td .modify {
    width: 40px;
    height: 26px;
    font-size: 14px;
	border: 1px solid #1aa72a;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	background: #46db32;
	background: -webkit-linear-gradient(#2bbe45,#1da230); 
    background: -o-linear-gradient(#2bbe45,#1da230); 
    background: -moz-linear-gradient(#2bbe45,#1da230); 
    
    background: linear-gradient(#2bbe45,#1da230); 
    color: #FFFFFF;
    outline: none;
    padding: 1px 0;
    margin-right: 8px;
}
.content .con_bd table.table_two tr td .modify:active {
	background: -webkit-linear-gradient(#167d25, #209435);
    background: -o-linear-gradient(#167d25, #209435); 
    background: -moz-linear-gradient(#167d25, #209435); 
    background: linear-gradient(#167d25, #209435); 
}


/* 名字改大 */
.bigName {
	font-size: 40px;
}

/* 给设置界面添加按钮 */
.content .con_bd .xiezhu {
	margin-top: 30px;
	text-align: center;
	width: 35%;
	margin-left: 5%;
	height: 430px;
	line-height: 430px;
	
}
.content .con_bd .jijian {
	margin-top: 30px;
	text-indent: 3em;
	text-align: center;
	width: 50%;
	margin-left: 6%;
	height: 190px;
	line-height: 190px;
	background:#ffa766 url(../images/shebeiId_bg.png) no-repeat 80px center;
	background-size: 20%;
}
.content .con_bd .jijian:active {
	background:#ffa766 url(../images/shebeiId_bg.png) no-repeat 80px center;
	
}
.content .con_bd .xiagang {
	margin-top: 50px;
	text-indent: 3em;
	text-align: center;
	width: 50%;
	margin-left: 6%;
	height: 190px;
	line-height: 190px;
	background:#f09eff url(../images/setting_bg.png) no-repeat 80px center;
	background-size: 20%;
}
.content .con_bd .xiagang:active {
	background:#f09eff url(../images/setting_bg.png) no-repeat 80px center;
}	


/* 文泽海，2018-3-25日修改按钮颜色 */
/* 禁用文字选择 */
* {  
    -webkit-touch-callout:none;  
    -webkit-user-select:none;  
    -khtml-user-select:none;  
    -moz-user-select:none;  
    -ms-user-select:none;  
    user-select:none;  
}


/* 文泽海，2018-3-26日修改弹窗 */
.selfpopup.layui-layer-dialog {
    min-width: 360px;
    /* margin-left: -140px; */
    max-width: 400px;
}
.selfpopup .layui-layer-title {
    font-size: 22px;
    font-weight: bold;
}
.selfpopup .layui-layer-content {
    font-size: 20px;
    min-height: 100px;
}
.selfpopup .layui-layer-btn a {
    font-size: 16px;
    padding: 6px 30px;
}
.selfpopup .layui-layer-btn .layui-layer-btn0 {
    border-color: #f24846;
    background-color: #f24846;
    color: #fff;
}





