/*时间弹窗部分样式*/
.modal {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 10;
}
.timeBox {
    background: #FFFFFF;
    width: 840px;
    height: 564px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -420px;
    margin-top: -282px;
    border-radius: 6px;
}
.timeBox .modalClose {
    position: absolute;
    top: -50px;
    right: -50px;
}
.timeBox .timeBox_hd {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: #f5f5f5;
    height: 174px;
}
.timeBox .timeBox_hd .timeShowBox {
    position: absolute;
    left: 50%;
    top: 34px;
    margin-left: -170px;
    width: 400px;
    height: 130px;

}
.timeBox .timeBox_hd .timeShowBox li span.label {
    position: absolute;
    top: 0;
    left: -100px;
    width: 100px;
}
.timeBox .timeBox_hd .timeShowBox li {
    float: left;
    position: relative;
}
.timeBox .timeBox_hd .timeShowBox li span {
    line-height: 104px;
    font-size: 30px;
}
.timeBox .timeBox_hd .timeShowBox .operatorBtn {
    display: block;
    background: #FFFFFF;
    outline: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 3px solid #e60012;
    font-weight: bold;
    font-size: 20px;
    color: #e60012;
}
.timeBox .timeBox_hd .timeShowBox .operatorBtn:nth-child(2) {
    margin-top: 24px;
}
.timeBox .timeBox_hd .timeShowBox .operatorBtn:active {
    background: #e60012;
    color: #FFFFFF;
}
.timeBox .timeBox_hd .timeShowBox li input[type="text"] {
    margin: 0 24px;
    width: 34px;
    height: 104px;
    border-radius: 4px;
    border: 1px solid #b3b3b3;
    background: #FFFFFF;
    outline: none;
    text-align: center;
    padding: 0 23px;
    font-size: 30px;
}
.timeBox .timeBox_bd .left {
    width: 500px;
}
.timeBox .timeBox_bd  .top {
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    color: rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.timeBox .timeBox_bd .right {
    width: 339px;
}
.timeBox .timeBox_bd .right .bottom {
    border-left: 1px solid rgba(0,0,0,0.2);
}
.timeBox .timeBox_bd .bottom {
    position: relative;
    font-size: 0;
}
.timeBox .timeBox_bd .bottom input[type="button"] {
    margin: 20px 0 0 20px;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    font-size: 36px;
    outline: none;
    background: -webkit-linear-gradient(#eaeaea, #d6d6d6);
    background: -o-linear-gradient(#eaeaea, #d6d6d6);
    background: -moz-linear-gradient(#eaeaea, #d6d6d6);
    background: linear-gradient(#eaeaea, #d6d6d6);
    color: #333333;
    box-sizing: border-box;
}
.timeBox .timeBox_bd .bottom input[type="button"] {
    background: -webkit-linear-gradient(#d6d6d6,#eaeaea);
    background: -o-linear-gradient(#d6d6d6,#eaeaea);
    background: -moz-linear-gradient(#d6d6d6,#eaeaea);
    background: linear-gradient(#d6d6d6,#eaeaea);
}
.timeBox .timeBox_bd .bottom input.clearBtn {
    width: 140px;
    text-align: center;
    font-size: 30px;
}
.timeBox .timeBox_bd .bottom input[type="button"].confirm {
    color: #FFFFFF;
    background: #e74020;
    background: -webkit-linear-gradient(#f56866,#f24846);
    background: -o-linear-gradient(#f56866,#f24846);
    background: -moz-linear-gradient(#f56866,#f24846);
    background: linear-gradient(#f56866,#f24846);
}


