.sitenav {
	height: 41px;
	background: #fabd00;
}
.sitenav .loginBox {
	position: relative;
	list-style: none;
}
.sitenav .loginBox li {
	/*display: block;*/
	float: left;
	margin-right: 10px;
	line-height: 41px;
}
.sitenav .right a {
	display: inline-block;
	line-height: 41px;
	padding: 0 10px;
}
.sitenav a:hover {
	color: #FFFFFF;
	background: rgba(255,255,255,0.2);
}


.menu {
	background: #1c5996;
	height: 95px;
}
.menu .txtLogo {
	padding: 18px 0 0 10px;
}
.menu .txtLogo p {
	font: bold 30px/36px "微软雅黑";
	color: #000000;
}
.menu .txtLogo span {
	font: bold 14px/20px "微软雅黑";
	color: #000000;
}
.menu ul.mainMenu {
	position: relative;
}
.menu .mainMenu li {
	float: left;
	margin: 0;
	position: relative;
	text-align: center;
}
.menu .mainMenu>li>a {
	display: inline-block;
	color: #FFFFFF;
	font: bold 18px/94px "微软雅黑";
	padding: 0 20px;
}
/*.menu .mainMenu>li:nth-child(2) >a {
	background: red;
}*/
.menu .mainMenu>li.active a {
	color: #fabd00;
}
.menu .mainMenu>li>a:hover {
	color: #fabd00;
}
.menu .mainMenu li .subMenu li a {
	color: #666666;
}

.menu .mainMenu li .subMenu {
	position: absolute;
	top: 95px;
	left: 0;
	display: none;
	width: 100%;
	background: #ffffff;
	box-sizing: border-box;
	border: 1px solid rgba(200,200,200,0.5);
	border-top: none;
	box-shadow: 0 4px 6px rgba(200,200,200,0.5);
}
.menu .mainMenu li .subMenu li {
	text-align: center;
	width: 100%;
}
.menu .mainMenu li .subMenu li a {
	display: block;
	font: 18px/50px "微软雅黑";
	color: #666666;
	border-bottom: 1px solid rgba(230,230,230,1);
}
.menu .mainMenu li .subMenu li a:hover {
	color: #fabd00;
}
.menu .mainMenu>li:hover .subMenu {
	display: block;
	background: #ffffff;
}
.menu .mainMenu>li>a:hover .subMenu a {
	color: #fabd00;
}


.pro {
	height: 716px;
	background: url(../img/bg.jpg) no-repeat center top;
}
.pro .searchBox {
	margin: 0 auto;
	width: 680px;
	padding-top: 230px;
}
.pro .searchBox select {
	width: 115px;
	height: 50px;
	border: none;
	border-right: 1px solid #999999;
	padding-left: 15px;
	font: 18px/50px "微软雅黑";
	outline: none;
}
.pro .searchBox .select option {
	display: block;
	font: 18px/18px "微软雅黑";
	outline: none;
}
.pro .searchBox input {
	width: 500px;
	height: 50px;
	border: none;
	padding-left: 15px;
	font: 16px/50px "微软雅黑";
	outline: none;
}