body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
    margin:0;padding:0;
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
    font:12px/1.5 "微软雅黑";
    color: #333;
}
ol,ul {
    list-style:none;
}
a {
    color: #656766;
    text-decoration: none;
}
.container {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
.clearfix {
    zoom: 1;
}
.color {
    color: #f8f8f8;
    color: #e8e8e8;
    color: #656766;
    color: #e3e3e3;
    color: #e43a3d;
    color: #ffb901;
    color: #fff7d3;
    color: #3273db;

}

/*导航栏部分*/
.siteNav {
    width: 100%;
    height: 30px;
    background: #f8f8f8;
    border-bottom: 1px solid #e8e8e8;
}
.siteNav ul li {
    color:#656766;
}
.siteNav .left .leftMenuBox {
    position: relative;
}
.siteNav .left .leftMenuBox li {
    float: left;
    line-height:33px;
}
.siteNav .left .leftMenuBox li.sep {
    margin: 0 8px;
}

.siteNav .right .rightMenuBox {
    position: relative;
}
.siteNav .right .rightMenuBox li {
    float: left;
    margin: 0 12px;
    line-height:33px;
}

.siteNav .right .rightMenuBox li.portraitBox img {
    width: 22px;
    height:22px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    vertical-align: top;
    padding-top:5px;
    margin-right: 5px;
}
.siteNav .right .rightMenuBox li .yellow {
    background: #ffb901;
    width: 22px;
    height:22px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 22px;
    margin-top: 5px;
}

/*主导航*/
.mainMenu {
    height: 70px;
    background: #e43a3d;
}
.mainMenu .left img.logo {
    padding: 14px 0 0 25px;
}
.mainMenu .right .mainMenuBox {
    position: relative;
}
.mainMenu .right .mainMenuBox li {
    float: left;
    font-size:18px;
}
.mainMenu .right .mainMenuBox li a {
    line-height:70px;
    color: #fff;
    padding: 0 16px;
    border-right:1px solid rgba(255,255,255,.2);
}
.mainMenu .right .mainMenuBox li:last-child a {
    border-right:none;
}


















































