/*走势部分*/
.zoushi .container {
    background: #fff;
    margin-top: 10px;
    border: 1px solid #e8e8e8;
}
.zoushi .container .zoushi_hd {
    position: relative;
}
.zoushi .container .zoushi_hd .dataChoice {
    position: relative;

}
.zoushi .container .zoushi_hd .dataChoice li,
.zoushi .container .zoushi_hd .qishuChoice li{
    float: left;
    text-align: left;
    margin-left: 10px;
    line-height: 38px;
}
.zoushi .container .zoushi_hd .dataChoice li a,
.zoushi .container .zoushi_hd .qishuChoice li a {
    line-height: 38px;
}
.zoushi .container .zoushi_hd .qishuChoice li a {
    color: #3273db;
}
.zoushi .container .zoushi_hd .dataChoice li a:hover,
.zoushi .container .zoushi_hd .qishuChoice li a:hover {
    color: #e43a3d;
    text-decoration: underline;
}
.zoushi .container .zoushi_hd .dataChoice li.title,
.zoushi .container .zoushi_hd .qishuChoice li.title {
    font-weight: bold;
    color: #BA2636;
    line-height: 38px;
}
.zoushi .container .zoushi_hd .dataChoice li.active a {
    font: 12px/38px '微软雅黑';
    color: #e43a3d;
}
.zoushi .container .zoushi_hd .dataChoice li.dataSep {
    width: 1px;
    height: 12px;
    margin-top: 13px;
    background: #333;
}
.zoushi .container .zoushi_hd .qishuChoice {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    background: url("../images/qishuChoice_bg.png") repeat-x;
}
.zoushi .container .zoushi_hd .qishuChoice li{
    margin-left: 20px;
}
.zoushi .container .zoushi_hd .qishuChoice li:first-child {
    margin-left: 10px;
}
.zoushi .container .zoushi_hd .qishuChoice li input[type="text"] {
    width: 80px;
    height: 20px;
    padding: 0 5px
}

.zoushi .container .zoushi_hd .qishuChoice li button {
    width: 50px;
    height: 20px;
    background: url(../images/chaxunBtn_bg.png) repeat-x;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}
.zoushi .container .zoushi_hd .checkboxOptions {
    height:36px;
    text-align: center;
    line-height: 36px;
}
.zoushi .container .zoushi_hd .checkboxOptions input{
    margin-left: 10px;
}

/*数据表格*/
/*
所有数据均为渲染出来，样式根据表格里的数据来，通过id来识别
*/
.zoushi .container .zoushi_bd {
    width: 100%;
    text-align: center;
}
.cl-31,.cl-32,.cl-33,.cl-34,.cl-35,.cl-36,.cl-51 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cl-31,.cl-32 {
    width: 100px;
    height: 65px;
}
.zoushi .container .zoushi_bd  .cl-31,
.zoushi .container .zoushi_bd  .cl-32 {
    line-height: 65px;
    border-right: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}
.bg-1 {
    background: #f4fbff !important;
}

.bg-2 {
    background: #fff5ee!important;
}

.bg-3 {
    background: #f8f8f8 !important;
}

.bg-4 {
    background: #fff !important;
}
.zoushi .container .zoushi_bd .cl-34 {
    width: 200px;
    border: 1px solid #e8e8e8;
    border-left: none;
    height: 45px;
    line-height: 45px;
}
.zoushi .container .zoushi_bd  span {
    width: 20px;
    height:20px;
    border-right: 1px solid #e8e8e8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.zoushi .container .zoushi_bd  span i {
    font-style: normal;
    line-height: 20px;
}
.zoushi .container .zoushi_bd .cl-36 span {
    display: inline-block;
}

/*桶bg-1*/
.zoushi .container .zoushi_bd .bg-gray .cl-35,
.zoushi .container .zoushi_bd .bg-white .cl-35 {
    font-size: 0;
}
.zoushi .container .zoushi_bd .bg-gray .cl-35 span,
.zoushi .container .zoushi_bd .bg-white .cl-35 span {
    display: inline-block;
    width: 20px;
    height:20px;
    border-right: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    font-size: 0;
}
.zoushi .container .zoushi_bd .bg-gray .cl-35 span i,
.zoushi .container .zoushi_bd .bg-white .cl-35 span i {
    font-style: normal;
    line-height: 20px;
    font-size: 12px;
 }
 .zoushi .container .zoushi_bd .cl-31.cl-51 {
    height: 20px;
    border: 1px solid #e8e8e8;
    border-left: none;
    border-top: none;
    line-height: 20px;
}
.zoushi .container .zoushi_bd .bg-gray .cl-51 {
    background: #f8f8f8 !important;
    width: 200px;
}
.zoushi .container .zoushi_bd .bg-white .cl-51 {
    background: #fff !important;
    width: 200px;
}


/*主体数据*/
.zoushi .container .zoushi_bd  .mainData .line {
    font-size: 0;
}
.zoushi .container .zoushi_bd  .mainData .line .cl-52 {
    height: 20px;
    width: 100px;
    font-size: 12px;
    background: #f4f3f3;
    border-top: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}
.zoushi .container .zoushi_bd  .mainData .line span i {
    font-size: 12px;
}
.zoushi .container .zoushi_bd  .mainData .line span i.not-transparent {
    color: #999;
}
.zoushi .container .zoushi_bd  .mainData .line span {
    display: inline-block;
    border-top: 1px solid #e8e8e8;
}
.zoushi .container .zoushi_bd  .mainData .line span.bg-1.active i {
    background: #622e2e!important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    width: 19px;
    height: 19px;
    color: #fff;
    font-weight: bold;
}
.zoushi .container .zoushi_bd  .mainData .line span.bg-2.active i {
    background: #c00 !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    width: 19px;
    height: 19px;
    color: #fff;
    font-weight: bold;
}























