/*走势部分*/
.zoushi .container {
    background: #fff;
    margin-top: 10px;
    border: 1px solid #e8e8e8;
}
.zoushi .container .zoushi_hd {
    position: relative;
}
.zoushi .container .zoushi_hd .dataChoice {
    position: relative;

}
.zoushi .container .zoushi_hd .dataChoice li,
.zoushi .container .zoushi_hd .qishuChoice li{
    float: left;
    text-align: left;
    margin-left: 10px;
    line-height: 38px;
}
.zoushi .container .zoushi_hd .dataChoice li a,
.zoushi .container .zoushi_hd .qishuChoice li a {
    line-height: 38px;
}
.zoushi .container .zoushi_hd .qishuChoice li a {
    color: #3273db;
}
.zoushi .container .zoushi_hd .dataChoice li a:hover,
.zoushi .container .zoushi_hd .qishuChoice li a:hover {
    color: #e43a3d;
    text-decoration: underline;
}
.zoushi .container .zoushi_hd .dataChoice li.title,
.zoushi .container .zoushi_hd .qishuChoice li.title {
    font-weight: bold;
    color: #BA2636;
    line-height: 38px;
}
.zoushi .container .zoushi_hd .dataChoice li.active a {
    font: 12px/38px '微软雅黑';
    color: #e43a3d;
}
.zoushi .container .zoushi_hd .dataChoice li.dataSep {
    width: 1px;
    height: 12px;
    margin-top: 13px;
    background: #333;
}
.zoushi .container .zoushi_hd .qishuChoice {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    background: url("../images/qishuChoice_bg.png") repeat-x;
}
.zoushi .container .zoushi_hd .qishuChoice li{
    margin-left: 20px;
}
.zoushi .container .zoushi_hd .qishuChoice li:first-child {
    margin-left: 10px;
}
.zoushi .container .zoushi_hd .qishuChoice li input[type="text"] {
    width: 80px;
    height: 20px;
    padding: 0 5px
}

.zoushi .container .zoushi_hd .qishuChoice li button {
    width: 50px;
    height: 20px;
    background: url(../images/chaxunBtn_bg.png) repeat-x;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}
.zoushi .container .zoushi_hd .checkboxOptions {
    height:36px;
    text-align: center;
    line-height: 36px;
}
.zoushi .container .zoushi_hd .checkboxOptions input{
    margin-left: 10px;
}

/*数据表格*/
/*
所有数据均为渲染出来，样式根据表格里的数据来，通过id来识别
*/
.zoushi .container .zoushi_bd table {
    width: 100%;
}
.zoushi .container .zoushi_bd thead tr td {
    text-align: center;
    border: 1px solid #fff;
    background: #f0e5c6;
    border: 1px;
}
.zoushi .container .zoushi_bd thead tr td.col-40 {
    /*border-right: 1px solid #656766;*/
}

/*表体部分*/
.zoushi .container .zoushi_bd tbody tr td {
    text-align: center;
}

