-webkit-
-moz-
-o-


body {
  font-family: "微软雅黑", Arial;
  font-size: 13px;
}


/*======Generic========*/
label, input, button, select, textarea {
  font-family: "微软雅黑", Arial;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button, input {
  line-height: normal;
}
button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
a {
  text-decoration: none;
}


.well {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  margin-bottom: 20px;
  background-color: whiteSmoke;
  border: 1px solid rgba(0,0,0,0.05);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  -o- box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}



/*========= Buttons =========*/
.btn {
  position: relative;
  float: left;
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -ms-linear-gradient(top, #fff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%. from(#fff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
  background-image: -o-linear-gradient(top,#fff,#e6e6e6);
  background-image: linear-gradient(top,#fff,#e6e6e6);
  background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
        border-radius: 4px;
-webkit-border-radius: 4px;
     -o-border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: yellow;
}
.btn:active,
.btn.active {
  background-color: #cccccc;
}
.btn:first-child {
  margin-left: 0;
}
.btn:hover {
  color: #333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}


.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}




/*=========
写按钮样式，有以下几点经验总结，
1、按钮进行情境的分解，比方说主要的（深蓝）、提醒（浅蓝）、警告（黄色）、危险（红色）、成功（绿色）、禁用（灰色）、反向（黑色）
2、每一种情境按钮分三种状态，正常、hover、按下、active、focus(outline框住);
3、单独的按钮单独设置即可，如果是按钮组，则按钮组采用左浮形式排在一起，通过伪类来区别设置不同样式；

==============*/


























