.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

body {
	background: #f8f8f8;
}
.des {
	color: #777777;
}
.deleteBtn {
	
	color: #f43530;
	float: right;
}
.addBtn {
	line-height: 2.2;
	width: 50%;
	margin: 30px auto 100px auto;
}
.weui-cells {
	overflow: visible;
}
.suplierBox .weui-cell__bd {
	position: relative;
}
#suplier_items {
	display: none;
	list-style: none;
	position: absolute;
	top: 38px;
	right: 0;
	border: 1px solid #a1d7f5;
	max-height: 200px;
	overflow: scroll;
	box-shadow: 0 0 4px rgba(200,200,200,0.4);
	width: 100%;
	float: right;
	z-index: 10 ; 
}
#suplier_items >li {
	background: #FFFFFF;
	display: none;
	padding-left: 10px;
	line-height: 40px;
	border-bottom: 1px solid #e5e5e5;
}
.weui-cells {
	border-left: 6px solid #1aad19;
}
